body {
	font-size: 12px;
	font-family: Arial;
}

table, tr, td, th {
	border: 0px;
	border-collapse: collapse;
	text-align: center;
	margin: 10px;
	padding: 2px;
	font-size: 12px;
	font-family: Arial;
}
table.data, table.data tr, table.data td, table.data th {
	border: 1px solid black;
}

table.data th {
	background-color: #FFFFCC;
}

h1 {
	text-align:center;
	color: #AAAAAA;
}

h2 {
	color: #AAAAAA;
	border-bottom: 1px solid #CCCCCC;
}

#list_packets {
	border: 1px solid black;
	width: 250px;
	height: 350px;
	overflow: auto;
	text-align: left;
	background-color: #F0F8FF
}
#list_packets ul{
	list-style-type: decimal;
}
#list_test {
	border: 0;
	width: 300px;
	height: 150px;
	overflow: auto;
	text-align: left;
	border: 1px solid black;
	background-color: #F0F8FF;	
}
#list_test ul{
	list-style-type: decimal;
}

.left {
	text-align: left;
}
